<configuration>
    <springProperty name="serviceName" source="spring.application.name"/>
    <springProfile name="dev | default">
        <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>"%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} [CID=%X{correlationId:-},trace=%X{traceId:-},span=%X{spanId:-}] - %msg%n"</pattern>
            </encoder>
        </appender>
    </springProfile>
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
